@font-face {
  font-family: 'Dancing';
  src: url('../fonts/DancingScript-Regular.otf');
}
@keyframes jug{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(10deg);
  }
}
@keyframes copa{
  0%{
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  50%{
    position: relative;
    left: 20px;
    bottom: 5px;
  }
  100%{
    position: relative;
    left: 0px;
    bottom: 0px;
  }
}
@keyframes cambio{
  0%{
    margin-top: 1000px;
  }
  60%{
    margin-top: -5px;
  }
  100%{
    margin-top: 0px;
  }
}
/*Cellphone*/
@media (max-width: 900px){
  #contenido{
    width: 98%;
  }
  /*Cabecera*/
  header div{
    text-align: center;
    max-width: 190px;
    min-width: 0;
    margin: auto;
    font-size: 1.5em;
  }
  header div a{
    font-size: 0.8em;
  }
  header div:link, div:visited{
    color: white;
  }
  /*Escudo*/
  section{
    background-color: #82c3a6;
  }
  section img.escudo{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  /*Jugadores y Otros*/
  article{
    background-color: #d5c75f;
    border: 1px white solid;
  }
  article img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 2px 2px 0 #82c3a6;
    border: 2px solid white;
  }
  article figcaption{
    text-align: center;
    text-decoration: underline;
  }
  article img.jugadores:hover{
    animation-name: jug;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  article img.copas:hover{
    animation-name: copa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  /*Pie de pagina*/
  footer{
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
  }
  footer div{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
  footer h1{
    margin: 0;
    padding: 0;
  }
  footer div.social img{
    width: 7%;
    margin-right: 2%;
  }
  footer div.derechos img{
    width: 6%;
    margin-left: 2%;
  }
}

/*Desktop*/
@media (min-width: 900px){
  #contenido{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  header div{
      font-size: 1.5em;
  }

  header a{
    float: right;
    text-indent: 2em;
    font-size: 0.8em;
  }
  /*Escudo*/
  section{
    background-color: #82c3a6;
  }
  section img.escudo{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  /*Jugadores y Copas*/
  article{
    background-color: #d5c75f;
    border: 1px white solid;
    display: flex;
    flex-flow: row wrap;
  }
  article #fig1{
    width: 35%;
    margin-left: 10%;
  }
  article #fig2{
    width: 35%;
  }
  article #fig1 img{
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    border: white 2px solid;
  }
  article #fig1 img:hover{
    animation-name: jug;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  article #fig2 img{
    padding: 5% 10% 5%; 10%;
    width: 80%;
    border: white 2px solid;
  }
  article #fig2 img:hover{
    animation-name: copa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  article figcaption{
    text-align: center;
    text-decoration: underline;
  }
  footer{
    background-color: #C6d5c5;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
  }
  footer h1{
    margin: 0;
    padding: 0;
  }
  footer div.social img{
    width: 7%;
    margin-right: 2%;
  }
  footer div.derechos img{
    width: 6%;
    margin-left: 2%
  }
  footer div.contact{
    width: 20%;
    margin-left: 5%;
  }
  footer div.terms{
    width: 20%;
    margin-left: 5%;
  }
  footer div.social{
    width: 20%;
    margin-left: 5%;
  }
  footer div.derechos{
    width: 20%;
    margin-left: 5%;
  }
}
/*Informacion General*/
#contenido{
  background-color: #02010a;
  font-family: Dancing;
}

header{
  background-color: #5b7989;
  padding: 1em;
  border-radius: 10px 10px 0 0;
  animation-name: cambio;
  animation-duration: 2s;
}

header div{
  color: white;
  text-shadow: 0 0 5px #02010a;
}

header a:link, a:visited{
  color: white;
}

header div a[href*='index']{
  text-decoration: none;
}
